body {
    background-color: #050505;
    color: white;
    padding: 15px;


}

h2 {
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
}

#calculator {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #1B9AAA;
    margin: 50px;

    padding: 40px;

    border-radius: 30px;
    border: dashed white 1px;

    min-width: 730px;
}

#display {
    background-color: #dddbcb71;
    width: 500px;

    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 20px;

    text-align: center;

    border-radius: 15px;


}

#display>h1 {
    font-size: 30px;
}

#keypad {
    display: flex;
    flex-direction: row;

}

#left-btns {
    display: flex;
    flex-direction: column;

}
#left-btns>h2 {

    background-color: rgba(255, 255, 0, 0.349);
    
}

#text-history {
    font-size: 20px;
}

#num-btns {
    display: flex;
    flex-direction: column;
    
}

#num-btns>div>h2 {
    background-color: rgba(186, 186, 186, 0.666);
}

#main-num {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

#right-btns {
    display: flex;
    flex-direction: column;
}

#right-btns>div>h2 {
    background-color: rgba(56, 203, 56, 0.493);
}

#right-btns>h2 {


    background-color: rgba(255, 6, 6, 0.626);
}

.key {
    border: white solid 1px;
    border-radius: 15px;

    padding: 20px;
    margin: 10px;

    width: 100px;
    height: auto;

    transform: scale(1);
    transition: transform 0.9s, background-color 0.9s;
    background-color: #1B9AAA;
    
}

.key:hover {


    transform: scale(1.2);
    transition: transform 0.9s, background-color 0.9s;

    background-color: #3ab3c3;


}

#zero-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

#equal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    height: 220px;
}